@use './variables';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  color: variables.$color-text;
  background-color: variables.$bg-color;
}
