// Colors
$color-text: #202020;
$bg-color: #fafafa;
$generic-bg: #db4c3f;
$border-head: #ca2100;

// Patterns
$generic-box-shadows: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px,
  rgba(0, 0, 0, 0.1) 0px 4px 11px;
$generic-border: 1px solid #f1f1f1;
