@use '../1_base/variables';
@import '../1_base/mixins';

.sidebar {
  @extend %no-select;
  width: 266px;
  height: calc(100vh);
  position: fixed;
  overflow-x: hidden;
  overflow-y: hidden;
  border-right: variables.$generic-border;
  background-color: variables.$bg-color;

  @include mq(900px) {
    display: none;
  }

  li {
    padding-left: 10px;
    padding-right: 15px;

    &:hover .sidebar__project-delete {
      display: block;
    }
  }

  &__project {
    padding: 5px 0;
    cursor: pointer;
    list-style-type: none;
    display: flex;
    justify-content: start;
    align-items: center;

    &:hover {
      font-weight: bold;
      background-color: white;
    }

    .sidebar__dot {
      margin-right: 6px;
      font-size: 30px;
    }

    &:nth-child(1) {
      .sidebar__dot {
        color: #6accbc;
      }
    }
    &:nth-child(2) {
      .sidebar__dot {
        color: #fad003;
      }
    }
    &:nth-child(3) {
      .sidebar__dot {
        color: #ff8d85;
      }
    }
    &:nth-child(4) {
      .sidebar__dot {
        color: #ff9932;
      }
    }
    &:nth-child(5) {
      .sidebar__dot {
        color: #af38eb;
      }
    }

    &-delete {
      margin-left: auto;
      display: none;

      svg {
        color: #cacaca;

        &:hover {
          color: black;
        }
      }

      &.active,
      &:hover {
        font-weight: bold;
        background-color: white;
      }

      .project-delete-modal {
        position: relative;

        &__inner {
          @extend %box-overlay;

          z-index: 99;
          width: 200px;
          padding: 10px;
          top: 10px;
          right: 0;
          background-color: white;

          p {
            margin: 5px 0;
            line-height: normal;
            font-weight: normal;
            font-size: 15px;
          }

          button {
            @include btn(50px);
          }

          span {
            @extend %cancel;
            font-weight: normal;
          }
        }
      }
    }

    &__projects {
      padding-left: 3px;
    }

    &__project {
      @include va(left);
    }

    &__dot {
      margin-right: 10px;
      font-size: 30px;
    }
  }

  &__middle {
    margin: 20px 0;
    display: flex;
    border-bottom: variables.$generic-border;
    padding-left: 10px;
    cursor: pointer;

    span {
      color: black;
      margin-right: 10px;

      svg.hidden-projects {
        transform: rotate(-90deg);
      }
    }

    h2 {
      margin: 0;
      color: #333;
      font-size: 15px;
      font-weight: bold;
      padding-bottom: 20px;
    }
  }

  &__generic {
    li {
      padding: 10px 0 10px 10px;
      list-style-type: none;
      color: #333;
      display: flex;
      cursor: pointer;
      line-height: 1.5;
      font-size: 15px;

      &.active,
      &:hover {
        font-weight: bold;
        background-color: white;
      }

      span:first-of-type {
        margin: 0 15px;

        svg {
          width: 18px;
          height: 18px;
          color: #555;
        }
      }
    }
  }

  .add-project {
    padding-left: 13px;
    padding-right: 20px;
    margin-top: 20px;

    &__input {
      margin-bottom: 20px;
    }

    &__name {
      width: 100%;
      border: 1px solid #ddd;
      background-color: white !important;
      border-radius: 3px;
      height: 35px;
      padding: 0 10px;
    }

    &__submit {
      @include btn(100px);
    }

    &__cancel {
      @extend %cancel;
    }
  }
}
